<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:localeConfig="@xml/locales_config"
        android:theme="@style/Theme.SayWhen">

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="locale|layoutDirection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".quickadd.QuickAddActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:configChanges="locale|layoutDirection"
            android:theme="@style/Theme.SayWhen.Dialog"
            android:windowSoftInputMode="adjustResize" />

        <activity-alias
            android:name=".quickadd.QuickAddLauncher"
            android:targetActivity=".quickadd.QuickAddActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/widget_label"
            android:icon="@mipmap/ic_launcher_add">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".quickadd.QuickAddInsert"
            android:targetActivity=".quickadd.QuickAddActivity"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/event" />
            </intent-filter>
        </activity-alias>
        <receiver
            android:name=".widget.SayWhenWidgetProvider"
            android:exported="false"
            android:label="@string/widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
    </application>
</manifest>
